<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hanzip">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hanzip">
        <activity
            android:name=".mentor2_Activity"
            android:exported="true" />
        <activity
            android:name=".mentor1_Activity"
            android:exported="true" />
        <activity
            android:name=".investor_Activity"
            android:exported="true" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="8o4nqlyy74" />

        <activity
            android:name=".investor.InvestorMain"
            android:theme="@style/FullScreenTheme" />
        <activity android:name=".investor.MentorSelection" />
        <activity android:name=".investor.Payment" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/FullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>